:root {
  --color1: rgb(253, 253, 253);
  --color2: rgb(0, 40, 100);
  --borderColor: red;
  --borderSize: 0.2rem;
}

* {
  background-color: var(--color2);
  color: var(--color1);
  font-family: sans-serif;
  font-size: 30px;
  padding: 0rem;
  margin: 0;
}

#headerBox {
  display: none;
  border: var(--borderSize) var(--borderColor) solid;
  font-size: 3rem;
}

#diceBox {
  width: 100vw;
  height: 100vh;
  border: var(--borderSize) var(--borderColor) solid;
}

#conceptBox {
  border: var(--borderSize) var(--borderColor) solid;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
}
