@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  /* ==== color ==== */
  --c1: #0a1128;
  --c2: #001f54;
  --c3: #1282a2;
  --c4: #fefcfb;

  /* ==== font sizes ==== */
  --fontSize_big: 2rem;
  --fontSize_normal: 20px;
  --fontSize_small: 0.7rem;
  --borderSize: 0.1rem;
}

/* ==================================
basics
================================== */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: var(--fontSize_normal);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--c1);
  color: var(--c4);
  display: grid;
  justify-content: center;
}

#mainBox {
  background-color: var(--c2);
  width: 100vw;
  min-height: 100vh;
  max-width: 900px;
  padding: 0 1rem 0 1rem;
}

button {
  background-color: var(--c3);
  color: var(--c4);
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
}

button:hover {
  background-color: var(--c4);
  color: var(--c3);
  cursor: pointer;
}

/* ==================================
diceBox
================================== */
#diceBox {
  width: 100%;
  padding: 15px 25px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto auto;
}

/* ==== diceBox_btns ==== */
#diceBox_btns {
  display: grid;
  grid-gap: var(--fontSize_normal);
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}

/* ==== diceBox_result ==== */
#diceBox_results {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: min-content min-content auto;
}

#diceBox_results_successes {
  font-size: var(--fontSize_big);
}

#diceBox_results_text {
  font-size: var(--fontSize_small);
  display: grid;
  align-items: center;
}

#diceBox_results_dice {
  font-size: var(--fontSize_small);
  display: flex;
  justify-content: end;
  align-items: center;
}

#diceBox_results_dice span {
  font-size: var(--fontSize_small);
}

.dice_success {
  color: orange;
}

.dice_crit {
  color: red;
}

/* ==================================
???
================================== */
#headerBox {
  display: none;
  font-size: 3rem;
}

#conceptBox {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
}
