@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  /* ==== font sizes ==== */
  --fs_normal: 20px;
  --fs_small: 0.7rem;
  --fs_big1: 1.3rem;
  --fs_big2: 1.6rem;

  /* ==== width and height ==== */
  --wContentBox: 48rem;
  --hNavBox: 4rem;

  /* ==== color ==== */
  --cBackground: #0a1128;
  --cMainBox: #e2e5eb;
  --cFont: #0c0c0c;
  --cButtonHover: #c9c9c9;
  --cButtonDisabled: rgb(75, 75, 75);

  /* ==== navbox ==== */
  --navHeight: 4rem;
  --navButton_hover: red;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ======================================================
basics
====================================================== */
/* ============ body ============ */
body {
  background-color: var(--cBackground);
  color: var(--cFont);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs_normal);
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

/* ============ buttons ============ */
button {
  background-color: var(--c3);
  color: var(--c4);
  /* */
  border: none;
  padding: 0.2rem 0.5rem;
  /* */
  font-size: var(--fs_normal);
}

button:hover {
  background-color: var(--cBackground);
  color: var(--cMainBox);
  cursor: pointer;
}

button:disabled {
  background: var(--cButtonDisabled);
  cursor: no-drop;
}

/* ============ header ============ */
h1 {
  font-size: var(--fs_big2);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* ======================================================
.contentBox and .box 
====================================================== */
.contentBox {
  min-height: calc(100vh - var(--navHeight));
  width: 100vw;
  max-width: var(--wContentBox);
  justify-self: center;
  background-color: var(--cMainBox);
}

.box {
  padding: 10px;
  border-bottom: 5px solid var(--cFont);
}

/* ======================================================
.conceptBox
====================================================== */
.conceptBox {
  padding: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.conceptBox img {
  width: var(--fs_0);
}

/* ======================================================
.aspirationBox
====================================================== */
.aspirationBox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 15px;
}

.aspirationBox p {
  grid-row: span 3;
  font-weight: bold;
  justify-self: center;
  align-self: center;
}

/* ======================================================
.attributeBox
====================================================== */
.attributeBox {
  display: grid;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-columns: auto repeat(3, 1fr);
}

.attributeBox ul {
  list-style: none;
}

/* ============ header ============ */
.attributeBox h1 {
  width: 100%;
  grid-column: span 4;
  text-align: center;
}

/* ============ info ============ */
.attributeBox .info {
  padding: 3px;
  text-align: end;
  justify-self: end;
  font-size: var(--fs_normal);
}

/* ============ attributes ============ */
.attributeBox .attributes {
  padding: 3px;
  border: 1px solid var(--cFont);
}

.attributeBox .attributes li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.attributeBox .value {
  justify-self: end;
}

/* ======================================================
.skillBox
====================================================== */
.skillBox {
  display: grid;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

/* ============ header ============ */
.skillBox h1 {
  width: 100%;
  grid-column: span 3;
}

/* ============ Section and related infos ============ */
.skillBox .section {
  font-weight: bold;
  text-align: center;
  font-size: var(--fs_big1);
  text-transform: uppercase;
}

.skillBox .unskilled {
  text-align: center;
  font-size: var(--fs_small);
}

/* ============ Lists of skills ============ */
.skillBox ul {
  list-style: none;
  padding: 3px;
  border: 1px solid var(--cFont);
}

.skillBox li {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.skillBox .points {
  justify-self: end;
}

.skillBox .nr {
  font-size: var(--fs_small);
}

/* ======================================================
.basicsBox
====================================================== */
.basicsBox {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
}

.basicsBox li {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
}

.basicsBox li p {
  justify-self: end;
}

/* ======================================================
.maskAndDirgeBox / .clanBox
====================================================== */
.clanBox,
.maskDirgeBox {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* ============ status (current mask, dirge, clan) ============ */
.clanBox_status,
.maskDirgeBox_status {
  position: sticky;
  top: var(--navHeight);
  background-color: var(--cMainBox);
  /* === */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  /* === */
  padding: 10px 0px;
  margin-bottom: 15px;
  border-bottom: 3px solid var(--cFont);
}

.clanBox .status p,
.maskDirgeBox_status p {
  justify-self: center;
}

/* ============ required section (in work) ============ */
.maskDirgeBox .required {
  font-size: var(--fs_small);
  justify-self: end;
  align-self: center;
}

/* ============ info section ============ */
.clan_info,
.maskDirgeBox_info {
  padding: 10px 20px;
  /* */
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  height: auto;
}

.clan_info p,
.maskDirgeBox_info p {
  margin: 8px 0px;
}

/* ============ class to collaps info section ============ */
.clanBox .collapsed,
.maskDirgeBox .collapsed {
  height: 0;
}

/* ============ buttons ============ */
.clanBox button,
.maskDirgeBox button {
  border: 1px solid var(--cFont);
  padding: 10px 20px;
  width: 100%;
}

.clanBox .buttons,
.maskDirgeBox .buttons {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.clanBox .clanBtn {
  grid-column: span 2;
}
