/* ======================================================
.navBox
====================================================== */
.navBox {
  position: sticky;
  top: 0;
  width: 100vw;
  height: var(--navHeight);
  /* === */
  background-color: var(--cFont);
  color: var(--cMainBox);
  border-bottom: 1px solid var(--cMainBox);
  /* === */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ============ logo ============ */
.navBox_logo {
  font-size: var(--fs_big2);
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

/* ============ options ============ */
.navBox_options {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navBox_options button {
  padding: 0px 10px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.navBox_options button:hover {
  background-color: var(--navButton_hover);
}
