/* ======================================================
Basics 
====================================================== */
.attributeBox {
  display: grid;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-columns: auto repeat(3, 1fr);
}

.attributeBox ul {
  list-style: none;
}

/* ======================================================
Header 
====================================================== */
.attributeBox .header {
  width: 100%;
  grid-column: span 4;
  text-align: center;
}

/* ======================================================
Info 
====================================================== */
.attributeBox .info {
  padding: 3px;
  text-align: end;
  justify-self: end;
  font-size: var(--fs_0);
}

/* ======================================================
Attributes 
====================================================== */
.attributeBox .attributes {
  padding: 3px;
  border: 1px solid var(--cFont);
}

.attributeBox .attributes li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.attributeBox .value {
  justify-self: end;
}
