.clanBox {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* ======================================================
Status (current clan)
====================================================== */
.clanBox .status {
  position: sticky;
  top: var(--hNavBox);
  background-color: var(--cMainBox);
  text-align: center;
  /* === */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  /* === */
  padding: 10px 0px;
  margin-bottom: 15px;
  border-bottom: 3px solid var(--cFont);
}

.clanBox .status p {
  justify-self: center;
}

/* ======================================================
Buttons
====================================================== */
.clanBox .buttons {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.clanBox button {
  border: 1px solid var(--cFont);
  padding: 10px 20px;
  width: 100%;
}

.clanBox .clanBtn {
  grid-column: span 2;
}

/* ======================================================
Info
====================================================== */
.clan_info {
  padding: 10px 20px;
  /* */
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  height: auto;
}

.clan_info p {
  margin: 8px 0px;
}

/* =========== */
.clanBox .collapsed {
  height: 0;
}
