#diceBox {
  display: none;
  position: absolute;
  top: -0%;
  width: 100vw;
  max-width: var(--maxWidth);
  height: 100vh;
  justify-self: center;
  padding: 50px;
}

#diceBox_btns {
  width: 100%;
}

#diceBox_btns {
  background-color: var(--c1);
  border: 5px solid var(--c3);
  padding: 15px;

  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
}

#diceBox_successes {
  border: solid var(--c3) 5px;
  border-radius: 50%;

  width: 100px;
  height: 100px;

  display: grid;
  justify-self: center;
  grid-column: span 6;
}

#diceBox_successes span {
  font-size: 60px;
  align-self: center;
  justify-self: center;
}

#diceBox_results {
  grid-column: span 6;
  font-size: var(--fs-1);
  text-align: center;
}
#diceBox_results span {
  font-size: var(--fs-1);
}

.dice_success {
  color: rgb(0, 255, 21);
}

.dice_crit {
  color: rgb(251, 255, 0);
}

.dice_fail {
  color: rgb(255, 0, 0);
}

#diceBox_reset,
#diceBox_reroll {
  grid-column: span 3;
}

#diceBox_rollBtn {
  grid-column: span 2;
  font-size: var(--fs_2);
}
