.navBox {
  position: sticky;
  top: 0;
  width: 100vw;
  height: var(--hNavBox);
  /* === */
  background-color: var(--cFont);
  color: var(--cMainBox);
  border-bottom: 1px solid var(--cMainBox);
  /* === */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navBox_logo {
  font-size: var(--fs_big2);
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.navBox_options {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navBox_options .btn {
  padding: 0px 10px;
  display: grid;
  justify-content: center;
  align-content: center;
}
