/* ======================================================
.infoBox
====================================================== */
.infoBox {
  pointer-events: none;
  /* */
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
}

/* ============ infoBox_inside (including transition) ============ */

.infoBox_inside {
  pointer-events: auto;
  /* */
  border: 5px solid var(--cFont);
  background-color: var(--cMainBox);
  color: var(--cFont);
  /* */
  position: fixed;
  width: 100vw;
  max-width: calc(var(--contentBox_width) - 4rem);
  justify-self: center;
  align-self: center;
  padding: 1rem;
  /* */
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.infoBox .small {
  transform: scale(0);
}

/* ============ infoBox_content ============ */
.infoBox_content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* ============ X Button ============ */
.infoBox img {
  width: 100%;
  padding: 0%;
}

.infoBox button {
  width: 3rem;
  background-color: var(--cFont);
  /* */
  position: fixed;
  top: -1rem;
  right: -1rem;
}

.infoBox button:hover {
  background-color: var(--navButton_hover);
}
