/* ======================================================
Basics 
====================================================== */
.skillBox {
  display: grid;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

/* ======================================================
Header 
====================================================== */
.skillBox h1 {
  width: 100%;
  grid-column: span 3;
}

/* ======================================================
Section and related infos
====================================================== */
.skillBox .section {
  font-weight: bold;
  text-align: center;
  font-size: var(--fs_big1);
  text-transform: uppercase;
}

.skillBox .unskilled {
  text-align: center;
  font-size: var(--fs_small);
}

/* ======================================================
Lists of skills
====================================================== */
.skillBox ul {
  list-style: none;
  padding: 3px;
  border: 1px solid var(--cFont);
}

.skillBox li {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.skillBox .points {
  justify-self: end;
}

.skillBox .nr {
  font-size: var(--fs_small);
}
